
body {
     margin: 0;
     padding: 0;
}

h2 {
    margin: 0;
}

#landing-page {
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100vh;
}

.title-background {
    background: #070707;
    width: fit-content;
    margin: auto;
    padding: 10px;
}

.title {
    text-align: center;
    color: #d0d3d4;
    font-size: 2em;
}

.nav-open-slider {
    padding: 15px;
    cursor: pointer;
}

.line {
    background: #eee;
    height: 3px;
    margin: 5px;
    width: 30px;
}

.line:nth-child(1) {
    margin-top: 0;
}

.nav-slider-div {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
}

.nav-close-button {
    border: none;
    outline: none;
    float: right;
    background: transparent;
    color: #f1c40f;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
}

.nav-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-links-container li {
    text-align: center;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color: #eee;
    font-size: 1.5em;
}

.on-open-nav {
    animation: open-nav 0.5s forwards;
}

.on-close-nav {
    animation: close-nav 0.5s forwards;
}

@keyframes open-nav{
    100% {
        transform: translateX(0%);
    }
}

@keyframes close-nav{
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }

}

#menu {
    background: #000000;
}

.menu-title {
    color: #d0d3d4;
    text-align: center;
    padding: 25px;
    font-size: 2em;
}

.tabs-container {
    width: 90%;
    margin: auto;
    padding-bottom: 25px;
}

.tab-header {
    border: none;
    outline: none;
    background: transparent;
    color: #eee;
    padding: 6px 12px;
    font-size: 1em;
    cursor: pointer;    
}

.active-tab {
    border: 1px solid #eee !important;
    border-bottom: none !important;
}

.tab-div {
    border: 1px solid #eee;
    padding: 15px;
}

.show-tab {
    display: block;
}

.hide-tab {
    display: none;
}

p {
    font-size: 1.1em;
    color: #eee;
}

.menu-price {
    float: right;
}

#info{
    background: #070707;
    padding: 20px;
}

.info-title {
    color: #D3CAC8;
    text-align: center;
}

.address-content, .buisness-hours-content, .contact-content {
    padding: 15px;
}

.address, .hours, .phone {
    font-size: 1.1em !important;
    text-align: center;
    margin-bottom: 0;
}

.info-container {
    display: grid;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
    .info-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .address-content, .buisness-hours-content {
        border-right: 1px solid #eee ;
        padding: 20px;
    }
}

input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#spoiler {
    display: none;
}

#en {
    display: none;
}
  
.button_lang {
    background-color: #444;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 5px;

    transition: background-color .3s ease-in-out;
}

.button_lang:hover, .current_lang {
    background-color: #777;   
    transition: background-color .3s ease-in-out;
}

ul li {
    display: inline;
  }


